<header class="header">
    <nav class="nav container">
        <a class="brand" href="{{baseUrl}}index.html">
            <span class="brand-dot"></span>
            Bruno Ramos
        </a>

        <ul class="nav-links">
            <li><a href="{{baseUrl}}index.html" data-page="index">Sobre mim</a></li>
            <li><a href="{{baseUrl}}projetos.html" data-page="projetos">Projetos</a></li>
            <li><a href="{{baseUrl}}pages/contato.html" data-page="contato">Contato</a></li>
        </ul>
    </nav>
</header>
